.contenedor {
    display: flex;
    height: 765px; /* Altura del contenedor 100% del viewport */
}

.item {
    flex: 1; /* Asigna el mismo espacio a cada div */
    color: white;
    margin-top: -8.5px;
    margin-bottom: -8.5px;
    
}

.izquierda {
    background-color: #111111;
    width: 50%; /* Ancho del div izquierdo 50% */
    margin-left: -8px;
    display: flex; /* Activar layout flexbox */
    align-items: center; /* Alinear verticalmente en el centro */
    justify-content: center; /* Alinear horizontalmente en el centro */
}


.derecha {
    background-color: #16191C;
    margin-right: -8px;
    width: 50%; /* Ancho del div derecho 40% */
    padding: 20px; /* Añadir padding para el contenido */
    display: flex; /* Activar layout flexbox */
    flex-direction: column; /* Alinear contenido verticalmente */
    align-items: center;
}
    .derecha h1 {
        margin-bottom: 90px; /* Margen inferior para el título */
    }
    
    .derecha form {
        display: flex; /* Activar layout flexbox para el formulario */
        flex-direction: column; /* Alinear elementos del formulario verticalmente */
        justify-content: center  ;
        width: 300px;
    }

    .derecha label {
        margin-bottom: 5px; /* Margen inferior para las etiquetas */
    }

    .derecha input {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .derecha button {
        margin-top: 30px;
        padding: 10px 20px;
        background-color: #36383E;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
}


.t-img{
    /*border-color: aqua;
    border-style: solid;
    border-size: 1px;*/
    width: 700px; /* Ancho de la imagen 600px */
    height: 700px; /* Altura de la imagen 600px */
    overflow: hidden; /* Ocultar la imagen si excede el tamaño del contenedor */
}

.t-img img{
    width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: auto; /* Mantener la relación de aspecto de la imagen */
}