html, body{
    background: linear-gradient(to right, #111111,#16191C);
    height: 100%;
    margin: 0;
    padding: 0;

}

.contenedor {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre divs */
    color: white;
    min-height: 100%;
    height: 100%;
}

.left {
    background-color: #111111;
    flex: 1; /* Ocupa la mitad del espacio disponible */
    height: 657px;
    margin-top: -8px;
    align-items: center;
}

.right {
    background-color: #16191C;
    flex: 1; /* Ocupa la mitad del espacio disponible */
    height: 657px; /* Puedes eliminar esta línea si quieres que el formulario ocupe toda la altura */
    margin-top: -8px;
    position: relative;
    width: 100%;
    
    
}

.logo{
    height: 600px;
}

.center {
    /* Puedes eliminar esta clase si no la estás usando en otro lugar */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.user-l{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
}

.titulo{
    text-align: center;
}

.form1{
    display: flex; /* Mantén esta línea */
    flex-direction: column; /* Puedes eliminar esta línea */
    width: 300px; /* Puedes ajustar el ancho del formulario */
    /* Elimina esta línea para centrar el formulario */
    /* margin-left:160px; */
}

label{
    margin-bottom: 5px;
}


input, button{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button{
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
    margin-left: 50px;
}

.form2{
    /**border-color: aqua;*/
    /**border-style: solid;*/
    /**border-width: 1px;*/
    width: 300px;
    position: relative;
    top: 20%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}
